body {
    background-image: url("../img/woven.png");
    text-align: center;
    margin: 0 0 0 0;
}


button {
    background-color: gainsboro;
    margin-left: 3%;
}

.view {
    width: 54%;
    align: center;
    position: absolute;
    left: 23%;
    height: 100%;
    background-image: url("../img/shattered.png");
    border: 2px solid black;
}

.subMenu {
    padding-top: 10%;
}


.header {
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: url("../img/retroheader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 4px solid black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: darkgray;
}


.quizB {
    display: block;
    margin: 4% auto;
}


#question {
    padding: 2% 10% 2% 10%;
}
