<!DOCTYPE html>
<html>

<head>
    <title>Quiz App</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/styling.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="js/various.js"></script>
    <script src="js/mainController.js"></script>
    <script src="js/categoryController.js"></script>
    <script src="js/questionController.js"></script>
</head>


<body ng-app="mainModule" ng-controller="mainCtrl" ng-init="displayCategories()">



<!-- A div representing the main menu of the application -->
<div class="view" id="mainMenu" ng-controller="categoryCtrl" ng-init="loadCat()" ng-show="showCategory">

    <div id="SelectMenu" >
        <div class="header">
            <h1>Quiz App</h1>
        </div>

        <p>Category : </p>
        <select id="catSel" ng-model="selectedID">
            <option id="catOpt" ng-repeat="cat in catArray" value={{cat.id}} >
                {{cat.cat}}
            </option>
        </select>

        <p>Difficulty : </p>
        <select id="diffSel" ng-model="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
    </div>

    <div class="subMenu">
        <button id="init" ng-click="startClicked()">Start</button>
    </div>
</div>


<!-- A div representing the question part of the application -->
<div class="view" id="quizBlock" ng-controller="questionCtrl" ng-show="showQuestion">

    <div class="header">
        <h1>Quiz App</h1>
    </div>


    <p id="question">{{ questArr[ind].question }}</p>

    <button class="quizB" ng-repeat="alt in questArr[ind].alts" ng-click="checkAnswer(alt)"
            ng-class="{ 'correct' : (alt === selectedAnswer && selectedAnswer === questArr[ind].correct),
                        'incorrect' : (alt === selectedAnswer && selectedAnswer !== questArr[ind].correct)}">
        {{ alt }}
    </button>

    <div class="subMenu">
        <button id="menu" ng-click="exitQuestionMode() && displayCategories()">Menu</button>
        <button id="next" ng-click="getNextQuestion()">Next</button>
        <p id="score"></p>
        <p id="alerts"></p>
    </div>
</div>

</body>
</html>