<!DOCTYPE html>
<html>

<head>
    <title>Quiz App</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="js/various.js"></script>
    <script src="js/mainController.js"></script>
    <script src="js/categoryController.js"></script>
    <script src="js/questionController.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styling.css">
</head>


<body ng-app="mainModule" ng-controller="mainController" ng-init="displayCategories()">




<!-- A div representing the main menu of the application -->
<div class="view" id="mainMenu" ng-controller="categoryCtrl" ng-init="loadCat()" ng-show="showCategory">

    <div id="SelectMenu" >
        <div class="header">
            <h1>Quiz App</h1>
        </div>

        <p>Category : </p>

        <select id="catSel" ng-model="selectedID">
            <option id="catOpt" ng-repeat="cat in catArray" value={{cat.id}} ng-selected="$first">
                {{cat.cat}}
            </option>
        </select>

        <p>Difficulty : </p>
        <select id="diffSel" ng-model="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
    </div>

    <div class="subMenu">
        <button id="init" ng-click="startClicked()">Start</button>
    </div>
</div>


<!-- A div representing the question part of the application -->
<div class="view" id="quizBlock" ng-controller="questionController" ng-show="showQuestion">

    <div class="header">
        <h1>Quiz App</h1>
    </div>


    <p id="question">{{ questArr[ind].question | htmlToText }}</p>
    <button id="b1" class="quizB">{{ questArr[ind].alts[0] }}</button>
    <button id="b2" class="quizB">{{ questArr[ind].alts[1] }}</button>
    <button id="b3" class="quizB">{{ questArr[ind].alts[2] }}</button>
    <button id="b4" class="quizB">{{ questArr[ind].alts[3] }}</button>

    <div class="subMenu">
        <button id="menu" ng-click="displayCategories()">Menu</button>
        <button id="next" ng-click="getNextQuestion()">Next</button>
        <p id="score"></p>
        <p id="alerts"></p>
    </div>
</div>

</body>
</html>